*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: 30px;
}

.poke-card {
    background-color: lightgrey;
    border-radius: 3px;
    padding: 30px;
    cursor: pointer;
}

.poke-card h2 {
    margin: 10px 0;
}

.poke-card img {
    margin: auto;
}

